body{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    background-color: #f7f0f0;
  }
  .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 200px;
  }
  .container h1{
    font-size: 2.5em;
  }
  .list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    border: 1px solid black;
    background-color: grey;
}
.list li{
    font-size: 50px;
    margin: 0;
    flex: 1;

}
a{
    text-decoration: none;
    color: white;
    padding-top: 41px;
    padding-bottom: 41px;
}
a:hover{
   background-color:  black;

}